<div class="my-white text-light">
    <div class="container">

        <div class="card-deck pt-4 pb-4">

            <div class="card my-grey text-white p-2">
                <img class="card-img-top" src="./assets/img/1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><strong>Why is this important?</strong></h5>
                    <p class="card-text">GetFoodUSA is helping towards dissolving food insecurity in the United States. Click the button to watch the video!</p>
                </div>
                <a class="text-decoration-none" href="/tv1/">
                    <div class="card-footer bg-secondary">
                        <small class="text-light">Click here to watch now!</small>
                    </div>
                </a>
                
            </div>

            <div class="card my-grey text-white p-2">
                <img class="card-img-top" src="./assets/img/2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><strong>What are you going to be doing?</strong></h5>
                    <p class="card-text">When volunteering with us it important to make sure you have all the tools you need. Every tool and recourses we would like you to ues is free and easy to use. Watch now!</p>
                </div>
                <a class="text-decoration-none" href="/tv2/">
                    <div class="card-footer bg-secondary">
                        <small class="text-light">Click here to watch now!</small>
                    </div>
                </a>
            </div>

            <div class="card my-grey text-white p-2">
                <img class="card-img-top" src="./assets/img/3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><strong>How to call for the first time!</strong></h5>
                    <p class="card-text">Its always good to see a example, watch this video to see how calls with food banks could play out. </p>
                </div>
                <a class="text-decoration-none" href="/tv3/">
                    <div class="card-footer bg-secondary">
                        <small class="text-light">Click here to watch now!</small>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>