<div class="my-blue">
    <div class="pt-4 pb-4 text-light">
        <div class="container">
    
            <h1 class="text-center p-4 my-red rounded font-weight-bold">Contact</h1>
    
            <div class="card-deck pb-4">
    
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header text-center">Email</div>
                    <div class="card-body">
                    <h5 class="card-title text-center">Kim Loper</h5>
                    <p class="card-text text-center"> <a href="mailto:kim@baltimorecorps.org">kim@baltimorecorps.org</a><br> Program Coordinator for GetFoodUSA</p>
                    </div>
                </div>
            </div>
            
            <a class="text-decoration-none pb-5" href="https://docs.google.com/forms/d/e/1FAIpQLSdhG9_XbkBReiM9TWZ1Ykq_rynghy0IyLVa8YD1hLFQG9zUeA/viewform?usp=sf_link" target="https://docs.google.com/forms/d/e/1FAIpQLSdhG9_XbkBReiM9TWZ1Ykq_rynghy0IyLVa8YD1hLFQG9zUeA/viewform?usp=sf_link">
                <div class="my-red r2g text-center text-light p-4 ">
                    <h1><strong>>>Please complete this survey after ever call session.<<</strong></h1>
                </div>
            </a>
            <br>
            <div class="text-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdhG9_XbkBReiM9TWZ1Ykq_rynghy0IyLVa8YD1hLFQG9zUeA/viewform?embedded=true" width="100%" height="1390" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>

        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>