<div class="my-blue text-light pt-4 pb-4">
    <div class="container">

        <h3><strong>Who are we?</strong></h3>
        GetFoodUSA is searchable directory of locations offering free food assistance to the public.
        Created in response to the food insecurity crisis escalated by COVID-19. We 
        collaborates with local partners and volunteers dedicated to providing up-to-date 
        information to the public.
        <br><br>
        
        <h3><strong>Food Insecurity Facts</strong></h3>
        <strong>By Definition:</strong> The state of being without reliable access to a sufficient quantity of affordable, nutritious food. 
        <strong>What food insecurity looks like around you and what it can lead to: 
        </strong>

        <ul>
            <li>Food deserts (regions where people have limited access to healthy and affordable food.)
            </li>
            <li>Unemployment is a stronger predictor of food insecurity.
            </li>
            <li>1 in 8 households in the United States had   difficulty at some time during the year in providing enough food for all their members. 
            </li>
        </ul>
        

        <h3><strong>How You Can Help / Volunteer</strong></h3>
        Becoming a food mapper is a rewarding volunteer position that develops professional skills, helps families get access to the food the need, and can be done from the comfort of your home.
        <ol>
            <li>Take 15 minutes to watch the training videos</li>
            <li>Go to the volunteer website. <a href="https://volunteer.getfoodusa.org/" target="https://volunteer.getfoodusa.org/org">volunteer.getfoodusa.org</a>  and click the GET STARTED button for a list of food sites to call.</li>
            <li>Read the instructions and call the number listed.</li>
            <li>Ask the food site the questions listed and type their  responses in the questionnaire.</li>
        </ol>
        <strong>It's that easy! Will you help us by committing to 2 hours of calls that will support families in 3 zip codes?
        </strong>
        We need as much help as we can get, so pitch in and make an impact for your community.
    </div>
</div>