<div class="my-red sticky-top position-sticky" id="navy">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">

            <a class="navbar-brand font-weight-bolder" href="/">GetFoodUSA Volunteer Resource Site</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nbh nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nbh nav-item active">
                        <a class="nav-link" href="/training/">Training</a>
                    </li>

                    <li class="nbh nav-item active">
                        <a class="nav-link" href="/contact-and-links/">Contact & Surveys</a>
                    </li>
    
                    <li class="nbh nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Social Media & Links
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.instagram.com/getfoodusa/?hl=en" target="https://www.instagram.com/getfoodusa/?hl=en">Instagram</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://volunteer.getfoodusa.org/" target="https://volunteer.getfoodusa.org/">Volunteer Site</a>
                        <a class="dropdown-item" href="https://www.getfoodusa.org/" target="https://www.getfoodusa.org/">Main Site</a>
                        </div>
                    </li>  
                </ul>
            </div>
        </nav>
    </div>
</div>
