<div class="my-blue">
    <div class=" p-5 force-center my-blue w-100 text-light rounded">
        <h1 class="font-weight-bold">Training Page</h1>
    </div>
<br>
    <a class="text-decoration-none" href="/GetFoodUSA-Volunteer-Resource-Website/tv1/"><div class="grad-1 my-red text-light p-4 m-3 rounded font-weight-bold"><h2><strong>Video 1: Why is this important?</strong></h2></div></a>
    <a class="text-decoration-none" href="/GetFoodUSA-Volunteer-Resource-Website/tv2/"><div class="grad-1 my-red text-light p-4 m-3 rounded font-weight-bold"><h2><strong>Video 2: What are you going to be doing?</strong></h2></div></a>
    <a class="text-decoration-none" href="/GetFoodUSA-Volunteer-Resource-Website/tv3/"><div class="grad-1 my-red text-light p-4 m-3 rounded font-weight-bold"><h2><strong>Video 3: How to call for the first time!</strong></h2></div></a>

</div>
