<div class="my-blue text-center">
    <div class="my-red text-center text-light p-2 ">
       <h1><strong>2. What are you going to be doing?</strong></h1>
   </div>
   <iframe width="50%" height="500" src="https://www.youtube.com/embed/i-rZTvfX_lI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

<div class="card-deck">
    <a class="text-decoration-none card border-0" href="/tv1/">
        <div class=" my-red p-1 r2g text-light w-100">
            <h1 class="font-weight-bold">Previous Video</h1>
        </div>
    </a>
    <a class="text-decoration-none card border-0" href="/tv3/">
        <div class=" my-red p-1 r2g text-light w-100">
            <h1 class="font-weight-bold">Next Video</h1>
        </div>
    </a>
</div>
 <br>
</div>